<%= form_with(model: event, local: true, url: url) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price_low %>
    <%= form.text_area :price_low %>
  </div>

  <div class="field">
    <%= form.label :price_high %>
    <%= form.text_field :price_high %>
  </div>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.text_field :event_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
