<h1> Wszystkie wydarzenia</h1>
<ul>
 <% for event in @events %>
 <li><%= link_to event.artist, event %></li>
 <% end %>
</ul>
 

<button type="button" class="btn btn-info"><%= link_to 'Nowe ogłoszenie', new_event_path %></button>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow" role="status">
  <span class="sr-only">Loading...</span>
</div>

<br>
<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="Event is a .......">What is event?</button>

 <script>
$(function () {
  $('[data-toggle="popover"]').popover()
})

 </script>
