<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Seat id seq</th>
      <th>Address</th>
      <th>Price</th>
      <th>Email address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
    <tr>
    <td><%= ticket.name %></td>
    <td><%= link_to 'Wyświetl', ticket %></td>
    <% if ticket.user == current_user %>
     <td><%= link_to 'Edytuj', edit_ticket_path(ticket) %></td>
     <td><%= link_to 'Usuń', ticket, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
    <% end %>
     </tr>
     <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-info"><%= link_to 'New Ticket', new_ticket_path %></button>

