<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Seat id seq:</strong>
  <%= @ticket.seat_id_seq %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ticket.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @ticket.email_address %>
</p>

<p>
  <strong>Event id:</strong>
  <%= @ticket.event_id %>
</p>

<p>
  <strong>User id:</strong>
  <%= @ticket.user_id %>
</p>

<% if @ticket.user == current_user %>
<%= link_to 'Edycja', edit_ticket_path(@ticket) %>
<% end %>
 <%= link_to 'Wstecz', tickets_path %>

